.contents
  .left-content
    = render 'shared/side_bar'

  .right-content
    .group
      .group__box
        .group__box__name
          =@group.name
        .group__box__members
          Members:
          - @group.users.each do |user|
            =user.name
      =link_to edit_group_path(@group) do
        .edit-btn Edit
    .messages
      = render @messages
    .post
      .input-box
        = form_for [@group, @message], html:{id: 'new_message'} do |f|
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'input-box__image' do
              = fa_icon 'picture-o', class: 'fas fa-images'
              = f.file_field :image, class: 'input-box__image__file'
            = f.submit 'Send', class: 'input-box__btn'
